/* Center aligns all text within the body */
body {
  text-align: center;
}

/* Adjusts paragraph font size for emphasis */
p {
  font-size: 50px;
}

/* Sets a default width for images */
img {
  width: 49%;
}

/* Creates a container for images with relative positioning */
.container {
  position: relative;
  width: 50%;
}

/* Ensures images within the container are responsive */
.container img {
  width: 100%;
  height: 60%;
  display: inline-block; /* Keeps images inline */
}

/* Styles the button and places it in the center of the container */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the button */
  -ms-transform: translate(-50%, -50%);
  background-color: #da5794; /* Button background color */
  color: rgb(6, 5, 6); /* Text color */
  font-size: 16px;
  padding: 12px 24px; /* Adds spacing */
  border: none;
  cursor: pointer; /* Makes the button clickable */
  border-radius: 0px; /* No rounded corners */
}

/* Changes button background color when hovered */
.container .btn:hover {
  background-color: rgb(236,